# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# VS Code
.vscode/

# No ignorar la carpeta database
!database/

# DVC
/data

# PostgreSQL
*.sql
*.dump

# Logs
*.log

echo "backend/docker/backups/**" >> .gitignore
echo "backend/docker/postgres/data/**" >> .gitignore
echo "*.tar" >> .gitignore

AWS_AMPLIFY/sonarqube-data
AWS_AMPLIFY/sonarqube-data/web/deploy/plugins/javascript/sonar-javascript-plugin-10.23.0.32711-multi.jar