---
// Este archivo está deshabilitado/ignorado con el prefijo _
// Si necesitamos usarlo, debemos corregir la importación de Layout
import IconosTest from '../pages/IconosTest';
---

<div>
  <h1>Este archivo está deshabilitado</h1>
  <IconosTest client:load />
</div>
